<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/logoballon.png') }}" />
    <title>{% block title %}ASM17{% endblock %}</title>  
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootswatch_spacelab.min.css">
        <link rel="stylesheet" href="/css/app.css">
      {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">#}
    {% endblock %}

  </head>
  <body>
      {% include 'shared/header.html.twig' %}

      
        {% for label, messages in app.flashes %}
            {% for message in messages %}
               {# <div class="alert alert-success"> #}
                <div class="flash-{{ label }}">
                    <h4 style="text-align:center">
                    <span class="badge badge-success">{{ message }}</span>
                    </h4>
                </div>
              {# </div> #}
            {% endfor %}
          {% endfor %}
        

    {% block body %}  {% endblock %} 

    {% block javascripts %}
        <script src="/JS/jquery.min.js"></script>
        <script src="/JS/popper.min.js"></script>
        <script src="/JS/bootstrap.min.js"></script>
    {% endblock %}

    {% include 'shared/footer.html.twig' %}

  </body>
</html>

