<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}ASM17{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap_flatly.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/logoballon.png') }}" />
    
    {% block stylesheets %} {% endblock %}
  </head>
  <body>
    {% include 'shared/header.html.twig' %}

    {% block body %} {% endblock %} 

    {% include 'shared/footer.html.twig' %}

      <script src="/JS/jquery.min.js"></script>
      <script src="/JS/popper.min.js"></script>
      <script src="/JS/bootstrap.min.js"></script>
    {% block javascripts %} {% endblock %}
  </body>

</html>

