{# GestionASM17/templates/GestionASM17/detailMembre.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Rapprocher Dépense{% endblock %}
{% block body %}
    {% form_theme formAjouterRecette   'bootstrap_4_layout.html.twig' %}
<div style="background-color : #f2fdff"> 
{{ form_start(formRapprocherDepense)}}

</div>

              
{% endblock %}

